* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hidden-titles {
  display: none;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 1096px;
  }
  .container-large {
    width: 1320px;
  }
}
.bestsellers__block, .bestsellers, .price__item-text, .burger-menu__list, .header__block, .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bestsellers__title, .price__item-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

.bestsellers__card-subtitle, .bestsellers__card-title, .burger-menu__item {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header {
  position: relative;
  z-index: 99;
  flex-direction: row;
  height: 88px;
  background-color: #f7faff;
}
.header__block {
  flex-direction: row;
  justify-content: space-between;
}
.header-nav {
  display: none;
}
.header-menu__linebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}
.header-menu__line {
  background-color: #0a224a;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 24px;
}

input[type=checkbox]:checked ~ .burger-menu__block {
  opacity: 1;
}

input[type=checkbox]:checked ~ label .header-menu__linebox .header-menu__line1 {
  animation: line1 1s linear forwards alternate;
}
@keyframes line1 {
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}
.header-menu__line1 {
  transform-origin: bottom right;
}

input[type=checkbox]:checked ~ label .header-menu__linebox .header-menu__line2 {
  animation: line2 1s linear forwards alternate;
}
@keyframes line2 {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(4px);
    opacity: 0;
    display: none;
  }
}
input[type=checkbox]:checked ~ label .header-menu__linebox .header-menu__line3 {
  animation: line3 1s linear forwards alternate;
}
@keyframes line3 {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-4px);
    opacity: 0;
    display: none;
  }
}
input[type=checkbox]:checked ~ label .header-menu__linebox .header-menu__line4 {
  animation: line4 1s linear forwards alternate;
}
@keyframes line4 {
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(2.2px) rotate(45deg);
  }
}
.header-menu__line4 {
  transform-origin: bottom right;
}

#header-menu__toggle {
  display: none;
}

.logo-desk {
  display: none;
}

@media (min-width: 768px) {
  .header {
    height: 95px;
  }
  .header-menu__linebox {
    height: 20px;
  }
  input[type=checkbox]:checked ~ label .header-menu__linebox .header-menu__line4 {
    animation: line4-tablet 1s linear forwards alternate;
  }
  @keyframes line4-tablet {
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(4px) rotate(45deg);
    }
  }
}
@media (min-width: 1440px) {
  .header {
    position: static;
  }
  .header-nav {
    display: flex;
  }
  .header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 621px;
    margin: 8px;
  }
  .header-nav__item {
    text-decoration: none;
    color: #0a224a;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
  .header-menu {
    display: none;
  }
  .logo-desk {
    display: block;
  }
  .logo-mob {
    display: none;
  }
}
.burger-menu__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 88px;
  padding-top: 114px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.burger-menu__list {
  list-style: none;
  width: 109px;
  padding: 8px;
}
.burger-menu__list li {
  margin-bottom: 17px;
}
.burger-menu__list li:last-child {
  margin-bottom: 0;
}
.burger-menu__item {
  text-decoration: none;
  color: #0a224a;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .burger-menu__block {
    margin-top: 95px;
    padding-top: 150px;
  }
  .burger-menu__list {
    width: 120px;
  }
  .burger-menu__list li {
    margin-bottom: 30px;
  }
  .burger-menu__item {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1440px) {
  .burger-menu__block {
    display: none;
  }
}
.banner {
  background-image: url("../images/product.png");
  background-size: cover;
  height: 717px;
  margin: 0 auto;
}

.title-minimalist {
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.text-addition {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0A224A;
}

.container-minimalist {
  padding-top: 140px;
  padding-left: 16px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.button-subscribe {
  width: 224px;
  height: 48px;
  color: white;
  background-color: #0a224a;
  border: none;
}

.container-bookshelf {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner .container-img img:first-child,
.banner .container-img img.desktop-image,
.banner .container-img img.mobile-image,
.mobile-image {
  display: none;
}

@media (min-width: 768px) {
  .banner {
    background: none;
    display: flex;
    justify-content: center;
  }
  .banner .container-img img:first-child,
  .banner .container-img img.mobile-image {
    display: block;
  }
  .container-img {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
  .title-minimalist {
    position: absolute;
    width: 648px;
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
  }
  .container-bookshelf {
    display: flex;
    flex-direction: column;
  }
  .text-addition {
    width: 312px;
  }
}
@media (min-width: 1440px) {
  .banner .container-img img.desktop-image,
  .mobile-image {
    display: block;
  }
  .banner .container-img img.mobile-image {
    display: none;
  }
  .container-minimalist {
    flex-direction: row;
    padding-top: 190px;
  }
  .container-bookshelf {
    gap: 50px;
  }
  .text-addition {
    width: 300px;
  }
}
.price__item {
  margin: 30px 0;
}
.price__item-line {
  height: 1px;
  border: none;
  background: #0a224a;
  margin: 0;
}
.price__item-text {
  justify-content: space-between;
  flex-direction: row;
  color: #0a224a;
  font-family: "Roboto", sans-serif;
}
.price__item-title {
  position: relative;
  font-size: 28px;
  line-height: 42px;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
.price__item-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.price__item-additional-line {
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  background-color: #0a224a;
  transition: width 1s ease-in-out;
}
.price__item:hover .price__item-additional-line {
  width: 40px;
}
.price__item:hover .price__item-title {
  transform: translateX(56px);
}

@media (min-width: 768px) {
  .price__item-title {
    font-size: 32px;
    line-height: 45px;
  }
  .price__item-subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .price__item:hover .price__item-additional-line {
    width: 50px;
  }
  .price__item:hover .price__item-title {
    transform: translateX(72px);
  }
}
.bestsellers__title {
  text-align: center;
  color: #0a224a;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 21px;
  text-transform: uppercase;
}
.bestsellers__card {
  width: 343px;
  height: 265px;
  color: #0a224a;
  margin-bottom: 30px;
}
.bestsellers__card--large {
  height: 265px;
  margin-bottom: 30px;
}
.bestsellers__card--hidden {
  display: none;
}
.bestsellers__card-base {
  margin-bottom: 0;
}
.bestsellers__card-title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.bestsellers__card-subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: 768px) {
  .bestsellers__block-cards {
    max-width: 704px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bestsellers__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  .bestsellers__card {
    width: 336px;
    height: 266px;
    margin-bottom: 0;
  }
  .bestsellers__card--large {
    display: block;
    width: 704px;
    height: 562px;
    margin-bottom: 32px;
  }
  .bestsellers__card--hidden {
    margin-top: 32px;
    display: block;
  }
  .bestsellers__card-title {
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
  }
  .bestsellers__card-subtitle {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1440px) {
  .bestsellers__block {
    flex-direction: row;
    justify-content: space-between;
  }
  .bestsellers__block-cards {
    max-width: 536px;
  }
  .bestsellers__card {
    width: 258px;
    margin-bottom: 0;
  }
  .bestsellers__card--large {
    width: 536px;
    margin-bottom: 0;
  }
  .bestsellers__card--hidden {
    margin-top: 30px;
  }
}