.products-title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: #0a224a;
  position: relative;
  top: 20px;
}

.carousel {
  width: 343px;
  padding-top: 50px;
  margin: 0 auto;
}

@media (min-width: 414px) {
  .carousel2 {
    visibility: hidden;
  }
  .carousel3 {
    visibility: hidden;
  }
}
.carousel2 {
  width: 688px;
  margin: 0 auto;
  gap: 10px;
}

.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}

@media (min-width: 768px) {
  .carousel2 {
    visibility: visible;
    width: 685px;
    margin-top: 50px;
  }
  .carousel {
    display: none;
  }
}
.carousel3 {
  visibility: hidden;
}

@media (min-width: 1440px) {
  .carousel3 {
    visibility: visible;
    width: 1320px;
    margin: 0 auto;
    margin-top: -120px;
  }
  .carousel2 {
    visibility: hidden;
    margin-top: -160px;
  }
}
.text-minimalist {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0A224A;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hidden-titles {
  display: none;
}

.container {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    width: 1096px;
  }
  .container-large {
    width: 1320px;
  }
}