.burger-menu {
  &__block {
    display: none;
    background: $secondaryColor;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 88px;
    padding-top: 114px;
    transition: display;
  }

  &__list {
    @extend %flex;
    list-style: none;
    width: 109px;
    padding: 8px;
  }

  &__list li {
    margin-bottom: 17px;
  }

  &__list li:last-child {
    margin-bottom: 0;
  }

  &__item {
    @extend %subtitle-font;

    text-decoration: none;
    color: $primaryColor;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    &__block {
      margin-top: 95px;
      padding-top: 150px;
    }
    &__list {
      width: 120px;
    }

    &__list li {
      margin-bottom: 30px;
    }

    &__item {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media (min-width: 1440px) {
  .burger-menu {
    &__block {
      display: none;
    }
  }
}
