.container_modern{
  background-image: url("../images/product.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 717px;
}


.img{
  max-height: 0;
  transition: max-height .5s ease-out;
}


@media (min-width: 768px) {
  .img{
      max-height: none;
      background-color: transparent;
      margin-left: 30px;
  }
}


.title-modern {
  width: 285px;
  height: 126px;
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color:  #0A224A;
  padding-top: 140px;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .title-modern{
position: relative;
top: 10px;
text-transform: uppercase;
width: 730px;
height: 150px;
font-family: Playfair Display;
font-size: 50px;
font-weight: 400;
line-height: 75px;
left:10px;
  }
}
@media (min-width: 768px) {
  .container_modern{
  background: none;
  margin-left: 50px;

  }
}
.text-modern {
width: 343px;
height: 48px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #0A224A;

}
.button-modern {
  width: 224px;
  height: 48px;
  color: white;
  background-color: #0A224A;
  
}
@media (min-width: 1440px) {
  .container_modern{
 gap:15px;
 
 display: flex;
 
  }
}

.f {
  margin-top: 120px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
@media (min-width:768px) {
  .f {
    margin-top: 40px;
    margin-left: -10px
  }
}
@media (min-width:1440px) {
  .f {
  
    position: relative;
    top: 110px
  
  }
}
@media (min-width:768px) {
  .img2 {
   visibility: hidden;
  
  }
}
@media (min-width:1440px) {
  .img2 {
   visibility: visible;
  
  }
}
 @media (min-width:1440px){
.img:nth-child(3) {
 display: none;
}
}

@media (min-width:1440px) {
  .text-modern {
    margin-left: 30px;
  }
}
@media (min-width:1440px) {
  .button-modern {
    margin-left: 30px;
  }
}